**/.env
**/.env.*
!**/.env.example

**/.git
**/.gitignore

**/.vscode
**/.idea
**/.vs
**/.project
**/.settings
**/*.*proj.user

**/node_modules
**/dist
**/bin
**/obj
**/.angular

**/npm-debug.log
**/*.log

**/*.dbmdl
**/*.jfm
**/.toolstarget

**/.dockerignore
**/Dockerfile*
**/docker-compose*

**/azds.yaml
**/charts
**/secrets.dev.yaml
**/values.dev.yaml

README.md
LICENSE
